body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

#app {
  height: 100%;
  width: 100%;
}

#app canvas {
  outline: none;
}

#debug {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 350px;
  z-index: 10;
}

#credits {
  bottom: 24px;
  color: white;
  left: 24px;
  position: fixed;
  z-index: 1;
  width: calc(100% - 40px);

  @media screen and (min-width: 800px) {
    max-width: 60%;
  }

  @media screen and (min-width: 1024px) {
    max-width: 35%;
  }
}

.title {
  font-family: 'Antonio', sans-serif;
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
}

.copy {
  line-height: 1.4;
  font-size: 0.8rem;
}

.copy a:hover {
  text-decoration: none;
}

.highlight {
  color: #1ab2c7;
  font-weight: 600;
}

@media screen and (min-width: 1024px) {

  .title {
    font-size: 4.6rem;
  }

  .copy {
    font-size: 1rem;
  }
}
